.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.labelStyle {
  font-size: 1em;
  font-weight: bold;
  line-height: 0px;
  padding-left: 0.6em;
}

.imagem {
  width: 200px;
  margin-bottom: 2em;
}

.divInput {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 15px;
  border: 2px solid #00d2fd;
  background-color: rgba(0, 0, 0, 0);
  height: 2.5em;
  width: 19em;
  margin-top: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding-left: 1em;
  outline: none;
}

.divBotoes {
  display: flex;
  flex-direction: row;
  margin: 0.3em 0px;
}

.botao {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.botao :hover {
  opacity: 85%;
  cursor: pointer;
}

.imagemBotao {
  width: 40px;
}

.labelResultadoStyle {
  font-size: 1em;
  font-weight: bold;
  line-height: 0px;
  margin-top: 1.5em;
}

.resultado {
  line-height: 0px;
}
